.banner{
    width: 100%;
    height: 100vh;
    margin-top: 5vmax;
    background-image: linear-gradient(#1f4037, #99f2c8);
    color: white;
}

.carouselText{
    position: absolute;
    left: 35%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font: 400 2vmax "Roboto";
    z-index: +2;
}

.carousel{
    width: 100vmax;
    height: 100vh;
}

.carouselBannar{
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

.css-1abc02a, .css-hn784z {
    height: 100vh !important;
}

.carouselText > h2 {
    font: 600 2.5vmax "Roboto";
}

.carouselText > p {
    font: 300 2.5vmax "Dongle";
}

.carouselText > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5vmax;
    margin: 1rem;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
}

.carouselText > a > button:hover{
    color: white;
    background-color: rgba(37, 133, 45, 0.5);
}   

/* .banner::after{
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: white;
    position: absolute;
    top:0%;
    left: 0%;
    max-width: 100%;
    clip-path: polygon(100% 56%, 0 100%, 100% 100%);    
} */

.producttitle{
  text-align: center;
  font-family: "Roboto";
  font-size: 1.7vmax;
  color: rgb(37, 133, 45);
  border-bottom: 1px solid rgb(37, 133, 45);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
}
.productContainer{
    display: flex;
    width: 100vw;
    margin: 2vmax auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}
.productCard{
    width: 15vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard > img {
    width: 14vmax;
    margin: 0.5vmax;
}

.productCard > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.productCard > div > span {
    margin: 0.5vmax;
    font: 300 1.5vmax 'Roboto';
    color: rgba(37, 133, 45, 0.8);
}

.reviewTitle {
    font: 300 1vmax 'Roboto';
}

.productCard > p {
    font-family: "Dongle";
    color: rgb(37, 133, 45);
    font-size: 2.5vmax;
    margin: 1vmax 0.5vmax;
}


.productCard > span {
    margin: 0.5vmax;
    color: rgb(37, 133, 45);
    font: 600 1.5vmax "Roboto";
} 

.productCard:hover{
    box-shadow: 0 0 5px rgb(14, 12, 12,0.2);
    transform: translateY(-1vmax);
}

@media screen and (max-width: 900px) {
    .productCard > p {
        font-size: 3vmax;
    }
    .productCard > div {
        margin: 0vmax;
        display: block;
    }
    .productCard > span {
        font-size: 2vmax;
    }
    .productCard > div > span {
        margin: 0 0.5vmax;
        font: 300 2vmax "Roboto";
    }
}
@media screen and (max-width: 600px) {
    .productCard > p {
        font-size: 4vmax;
    }
    .productCard > div {
        margin: 0vmax;
        display: block;
    }
    .productCard > span {
        font-size: 2vmax;
    }
    .productCard > div > span {
        margin: 0 0.5vmax;
        font: 300 2vmax "Roboto";
    }
}