.forgotPasswordContainer {
    width: 100vw;
    height: 80vh;
    max-width: 100%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.forgotPasswordBox {
    position: relative;
    background-color: rgba(37, 133, 45, 0.2);
    width: 35vw;
    height: 50vh;
    overflow: hidden;
    border-radius: 10px;
}

.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    height: 70%;
    justify-content: space-evenly;
    transition: all 0.5s;
}

.heading {
    margin: 2vmax;
    margin-bottom: 1vmax;
    text-align: center;
}

.forgotPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.forgotPasswordForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 3vmax;
    width: 100%;
    border: 1px solid rgb(37, 133, 45);
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
}

.icon {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.5vmax;
    color: rgb(37, 133, 45);
}

.showPasswordIcon {
    position: absolute;
    right: 0%;
    transform: translateX(-3vmax);
    font-size: 1.2vmax;
    color: rgb(37, 133, 45);
}

.forgotPasswordBtn {
    border: none;
    background-color: rgb(37, 133, 45);
    color: white;
    width: 100%;
    font: 300 1vmax 'Roboto';
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    box-shadow: 0 2px 5px rgb(24, 87, 30);
}

.forgotPasswordBtn:hover {
    background-color: rgb(24, 87, 30);
}

@media screen and (max-width:700px) {
    .forgotPasswordBox {
        width: 70vw;
    }
    .icon {
        font-size: 2vmax;
    }
    .showPasswordIcon {
        font-size: 1.8vmax;
    }
    
    .forgotPasswordForm {
        margin: 3vmax 0;
        padding: 1vmax;
    }
    .forgotPasswordForm > div > input {
        padding: 1vmax 4vmax;
        padding-right: 3vmax;
        font-size: 2vmax;
    }
    .forgotPasswordBtn {
        padding: 0.5vmax;
        font-size: 2vmax;
    }
}

@media screen and (max-width:650px) {
    .heading {
        display: block;
        font-size: 3vmax;
    }
}

@media screen and (max-width:600px) {
    .forgotPasswordBox {
        width: 80vw;
        height: 60vh;
    }
    .icon {
        font-size: 3vmax;
    }
    .showPasswordIcon {
        font-size: 2.2vmax;
    }
    .updateProfileForm {
        margin: 2vmax 0;
        padding: 3vmax;
    }
    .forgotPasswordForm > div > input {
        padding: 2vmax 5vmax;
        padding-right: 3vmax;
        font-size: 2vmax;
    }
    .forgotPasswordBtn {
        padding: 1vmax;
        font-size: 2.5vmax;
    }
}